@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family= Roboto:ital,wght@0,300;1,100 & display = swap');


body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:  rgba(0, 0, 0, 0.411);
    background-image: linear-gradient(to top, purple, orange);
}

.form {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.field {
    padding: 20px;
    border:2px solid #fff;
}

.btn {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color:  rgba(0, 0, 0, 0.411);
}

.btn:hover {
    color: #000;
}